body, h1, h2 {
  font-family: Arial;
}

.loadMoreBtn {
  background-color: #4285f4;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: auto;
}

.member {
  background-color: #f2f2f2;
  border: 1px solid #ededed;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px;
  width: 250px;
}

.yes {
  color: green;
  float: right;
}

.no {
  color: red;
  float: right;
}

.commentSection {
  margin: 20px 5px;
}

.commentAuthor {
  font-size: 16px;
  font-weight: bold;
}

.commentTime {
  font-size: 12px;
  margin-left: 15px;
}

.commentText {
  font-size: 14px;
  margin-top: 10px;
}

section {
  display: block;
  float: left;
  width: 50%;
}